@import url("../src/lib/icons/styles/style.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
  font-display: swap;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Tradegothic";
  src: url("./assets/fonts/Tradegothic/TradeGothic-Regular.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Tradegothic";
  src: url("./assets/fonts/Tradegothic//TradeGothic-Bold.ttf");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
